@import "../../../scss/index";

.FormSubmit {
  padding: 12px 0;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.3em;
  text-align: center;
  cursor: pointer;
  background: $brownlight;
  color: $white;
  width: 100%;
  transition: 0.4s all ease;
  &:hover {
    background: $brown;
    transition: 0.4s all ease;
  }
}
