@import "../../../scss/index";

.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url("https://images8.alphacoders.com/679/thumb-1920-679478.jpg")
    no-repeat center center;
  background-size: cover;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
