.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/28963/form-bk.jpg")
    no-repeat center center;
  background-size: cover;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
