@import "../../../scss/index";

.formInput {
  input {
    width: 100%;
    background: $white;
    text-align: center;
    margin-bottom: 25px;
    border: 1px solid $white;
    border-bottom: 1px solid $gray-dk;
    padding: 8px 0;
    font-size: 16px;

    &:focus {
      border: 1px solid $gray-dk;
      outline: none;
      appearance: none;
    }
  }
}
